﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BusinessUser_UseCoupon.aspx.cs" Inherits="Coupon_Net.GUI.Add_GUI.BusinessUser_UseCoupon" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" type="text/css" href="../style/toolbar_style.css" />
    <title></title>
    <style type="text/css">
        #table {
            height: 80px;
            width: 250px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
   <div id="nav">
        <ul>
            <li style="float:left;"><a href="../Welcome GUI/Logout.aspx">Log Out</a></li>
            <li><a href="#"> Coupons</a>
                <ul>
                    <li><a href="../Add GUI/BusinessUser_UseCoupon.aspx" >Add New</a></li>
                    <li><a href="#" style="background:#ff6a00">Use</a></li>
                </ul>
            </li>
            <li><a href="#"> Search </a>
            <ul>
                <li><a href="../Search GUI/BuisnessUser_BuisnessSearch.aspx"> Buisness </a></li>
                <li><a href="../Search GUI/BuisnessUser_CouponSearch.aspx"> Coupon </a></li>
            </ul></li>
            <li><a href="#"> View  </a>
                 <ul>
                <li><a href="../View GUI/BuisnessUser_ProfileView.aspx"> Profile </a></li>
                <li><a href="../View GUI/BuisnessUser_CouponView.aspx">  Coupons </a></li>
            </ul></li>

        </ul>
    
    </div>
   

        <div id="div" style="padding: 50px; float:right; margin-top: 42px;">
             <asp:Image ID="Image1" runat="server" ImageUrl="~/GUI/View/title.png" style=" margin-top: 20px; margin-bottom: 70px"  />

    <p id="Title" style="font:italic; color:#FFFBFF; text-align:left; margin-left:100px; font-size:30px; text-decoration:underline;" > Use Coupon</p>
    <table id="table" class="auto-style3">
        
       
        
        
         <tr>
            <td class="auto-style7" style="border-color:#000000">
                                <asp:Label ID="Label6" runat="server" Font-Size="Large" ForeColor="White" Text="serial:"></asp:Label>


            </td>
            <td class="auto-style8">
                <asp:TextBox ID="serialTextBox" runat="server" TextMode="Phone" Width="200px" style="height: 25px" ></asp:TextBox>
            </td>
            <td class="auto-style4">
                <br />
            </td>
        </tr>
        
      
        <tr>
            <td class="auto-style7">

            </td>
            <td class="auto-style9">

                &nbsp;</td>
            <td>

            </td>
        </tr>
        
      
    </table>

                <asp:Button ID="RedirectButton0" runat="server"  Text="check coupon"  BackColor="#FFFBFF" BorderColor="#CCCCCC" BorderStyle="Solid" 
                            BorderWidth="1px" Font-Names="Verdana" Font-Bold="true" ForeColor="#284775" Height="35px" Width="236px" OnClick="checkCoupon_Click" style="margin-left: 18px" />
            

  </div>





    </form>
</body>
</html>
