﻿body {
    background-image: url('../View/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-content: center;
    align-items: center;
    vertical-align: central;
        margin: auto;
        margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#form1{
    align-content: center;
    align-items: center;
    vertical-align: central;
        margin: auto;
        margin-left:auto;
    margin-right:auto;
    text-align:left;

    margin-left:auto;
    margin-right:auto;
    width:50%;
}
