﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SearchShow.aspx.cs" Inherits="Coupon_Net.GUI.Search_GUI.SearchShow" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-image:url(../View/background.jpg)">
    <form id="form1" runat="server">
    <div>
    
    </div>
      <div id="show" style="padding-top: 100px;padding-right:350px; float:right; margin-top:50px;">

             <asp:Image ID="Image1" runat="server" ImageUrl="~/GUI/View/title.png" style=" margin-top: 20px; margin-bottom: 70px"  />
            

            
            <asp:RadioButtonList ID="RadioButtonList1" runat="server">
            </asp:RadioButtonList>
            <ul>



             <asp:Button ID="redirectButton" runat="server" Text="go to coupon" Width="113px" OnClick="redirectToCoupon_Click" style="margin-left: 72px" />

            </ul>



        </div>
    </form>
</body>
</html>
