﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AdminUser_AddAuthorization.aspx.cs" Inherits="Coupon_Net.GUI.Add_GUI.AdminUser_AddAuthorisation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" type="text/css" href="../style/toolbar_style.css" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
   <div id="nav">
        <ul>
            <li style="float:left;"><a href="../Welcome GUI/Logout.aspx">Log Out</a></li>
            <li><a href="#"> Add</a>
                <ul>
                    <li><a href="../Add GUI/AdminUser_AddCoupon.aspx">Coupon</a></li>
                    <li><a href="../Add GUI/AdminUser_AddBuisness.aspx">Business</a></li>
                    <li><a href="#" style="background:#ff6a00">Autorization</a></li>
                </ul>
            </li>
            <li><a href="#"> Search </a>
            <ul>
                <li><a href="../Search GUI/AdminUser_BuisnessSearch.aspx"> Business </a></li>
                <li><a href="../Search GUI/AdminUser_CouponSearch.aspx"> Coupon </a></li>
            </ul></li>
            <li><a href="#"> View  </a>
                 <ul>
                <li><a href="#"> Profile </a></li>
                <li><a href="#">  Coupons </a></li>
            </ul></li>

        </ul>
    
    </div>
        <div id="show" style="padding-top: 100px;padding-right:350px; float:right; margin-top:50px;">

             <asp:Image ID="Image1" runat="server" ImageUrl="~/GUI/View/title.png" style=" margin-top: 20px; margin-bottom: 70px"  />
            

            
            <asp:RadioButtonList ID="RadioButtonList1" runat="server">
            </asp:RadioButtonList>
            <ul>



             <asp:Button ID="Button1" runat="server" Text="aprrove" Width="113px" OnClick="aprrove_Click" style="margin-left: 72px" />

                <asp:Button ID="Button2" runat="server" Text="reject" Width="113px" OnClick="reject_Click" style="margin-left: 72px" />
            </ul>



        </div>
    </form>
</body>
</html>
