﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.Master.cs" Inherits="Coupon_Net.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 298px;
        }
    </style>
</head>
<body bgcolor="#B2DFDB">
    <form id="form1" runat="server">
    <div>
        <asp:Image ID="Image1" runat="server" ImageUrl="~/View/title.png"/>
        <table>
            <tr>
                <td class="auto-style1">
                    <asp:Menu ID="Menu1" runat="server" DataSourceID="XmlDataSource1">
                         <DataBindings>
                            <asp:MenuItemBinding DataMember="MenuItem" 
                                 NavigateUrlField="NavigateUrl" TextField="Text" />
                            </DataBindings>
                         </asp:Menu>
                    <asp:XmlDataSource ID="XmlDataSource1" runat="server" XPath="/Items/MenuItem" DataFile="~/App_Data/Menu.xml"></asp:XmlDataSource>
                </td>
                <td>
                     <asp:ContentPlaceHolder ID="MainHolder" runat="server">
        
                     </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>        
       
    </div>
    </form>
</body>
</html>
