﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NormalUser_CouponView.aspx.cs" Inherits="Coupon_Net.GUI.View_GUI.NormalUserCouponView" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <link rel="stylesheet" type="text/css" href="../style/toolbar_style.css" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
     <div id="nav">
        <ul>
            <li style="float:left;"><a href="../Welcome GUI/Logout.aspx">Log Out</a></li>
            <li><a href="#"> Order</a></li>
            <li><a href="#"> Search </a>
            <ul>
                <li><a href="../Search GUI/NormalUser_BuisnessSearch.aspx"> Buisness </a></li>
                <li><a href="../Search GUI/NormalUser_CouponSearch.aspx"  > Coupon </a></li>
            </ul></li>
            <li><a href="#"> View  </a>
                 <ul>
                <li><a href="../View GUI/NormalUser_ProfileView.aspx"> Profile </a></li>
                <li><a href="#" style="background:#ff6a00"> My Coupon </a></li>
            </ul></li>

        </ul>
    </div>
        <div id="show" style="padding-top: 100px;padding-right:350px; float:right; margin-top:50px;">

             <asp:Image ID="Image1" runat="server" ImageUrl="~/GUI/View/title.png" style=" margin-top: 20px; margin-bottom: 70px"  />
            
                <p id="Title" style="font:italic; color:#FFFBFF; text-align:left; margin-left:100px; font-size:30px; text-decoration:underline;" > My Coupons</p>


            
            <asp:RadioButtonList ID="RadioButtonList1" runat="server">
            </asp:RadioButtonList>
            <ul>



             <asp:Button ID="selectCoupon" runat="server" Text="select" Width="113px" OnClick="selectCoupon_Click" style="margin-left: 72px" />

            </ul>



        </div>
    </form>
</body>
</html>
